h2 {
  font-family: "Oswald" !important;
}

body  {
  font-family: "OpenSans";
  color: DarkBlue;
  background-color: ivory;
  margin: 10px 50px 10px 50px;

}

head {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: ivory;
}

img {
  display: inline;
}


li {
  display: inline;
  padding:0px 80px 0px 80px;
}

.row  {
  width: 100%;
}

.column {
  float: left;
  width: 20%;
}

/*
._contents {
  column-count: 4;
  column-gap: 100px;
  column-width: 80px;
}

#paragraphs{
  column-count: 3;
  column-gap: 10px;

}
*/

